.PriceContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #181818;
    color: white;
    font-weight: bold;
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}