.ErrorContainer{
    position: fixed;
    z-index: 170;
    width: 80vw;
    height: auto;
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    /* box-shadow: 0.5px 0.5px 0.5px #ccc; */
    /* background: white; */
    left: 10vw;
    top: 45%;

}