.ToolbarContainer{
    position: fixed;
    height: 6vh;
    background-color: burlywood;
    width: 100vw;
    top: 0px;
    left: 0px;
    color: white;
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding: 5px;
    z-index: 100;
    align-items: center;
}

.Heading{
text-align: left;
margin: 0px;
}

.LogoDiv{

    display: flex;
    justify-content: left;
}
.Hamburger{
    display: none;
}

.Navigation{
  justify-content: right;
}
@media(max-width:500px){
    .ToolbarContainer{
        grid-template-columns: 10vw 90vw;
        justify-content: center;
    }
    .LogoTag{
        display: none;
    }
    
    .LogoDiv{
      
      text-align: right;
      width: 100%;
    }
    .LogoDiv p{
      width: 100%;
      text-align: right;
      margin-right: 10px;
    }

  .Navigation{
    display: none;
  }
  .Hamburger{
      display: flex;
      flex-direction: column;
      
        padding: 5px;
        
  }
  .HamburgerLine{
    height: 3px;
    margin-bottom: 2.5px;
    background-color: white;
  }
}