.IngredientControllerContainer{
    padding: 10px;
    height: 30vh;
    display: flex;
    width: 60%;
    color: black;
    background-color: burlywood;
    box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
    
}

.ItemContainer{
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}
.ItemName{
    font-weight: bold;
    width: 30%;
    display: inline-block;
    text-align: left;
}

@media(max-width:500px){
    .IngredientControllerContainer{
        width: 100%;
        margin: 0px;
        font-size: 15px;
        
    }

    .IngredientControllerContainer button{
        height: 30px;
        padding: 5px;
    }

}